<h3>Comment (<%= @article.comments.size %>)</h3>
<%= form_for [ @article, @comment ] do |f| %>

  <p>
  <%=f.label :author_name %> <br/> 
  <%=f.text_field :author_name %> <br/> 
  </p>
  
  <p>
  <%=f.label :body %> <br/> 
  <%=f.text_field :body %> <br/> 
  </p>
  
  <p>
  <%=f.submit  %> <br/> 
  </p>
<% end %>
